{% extends 'core/base.html' %}
{% block title %}
    Contacto
{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg'%}{% endblock %}
{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}




{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>La tecnología acelera el desarrollo del diseño. Si piensas que puede ayudarte a ser mas eficiente, permiteme la oportunidad de conocerte y demostrarte hasta qué punto es así.</p>
            <br>
            <p><b>Email:</b> danielmandarano@yahoo.com.ar</p>

        </div>
    </div>
{% endblock %}



